
@{

}

<div ng-controller="FormCtrl">
@using (Html.BeginForm("Angular", "Basics", FormMethod.Post, new { id = "angularForm"}))
{
        @Html.AntiForgeryToken()
        @Html.TextBox("email");
        @Html.Password("password");
        @Html.Password("confirm");
        <button ng-click="formSubmit($event)">HONK</button>
}
</div>
