@{
    Layout = null;
}
<title>Razor</title>
<h2>Razor</h2>
@using (Html.BeginForm("Razor", "Basics", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.TextBox("Username");
    @Html.Password("Password");
    @Html.Password("Confirm Password");
    <input type="submit" name="submit" />
}